{{define "title"}}Settings{{end}}

{{define "content"}}
<div class="bg-light py-2">
    <div class="container">
        <div class="w-50">
            <h1>User Settings</h1>

            <form method="POST" action="{{endpoint "user_settings"}}">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="email" placeholder="email@server.com" value="{{.Email}}">
                </div>

                <div class="input-group mb-3">
                    <select class="form-control" name="timezone">
                        {{ range .TimeZones }}
                            <option{{if eq . $.TimeZone}} selected{{end}}>{{.}}</option>
                        {{ end }}
                    </select>
                </div>

                <div class="input-group mb-3">
                    <input type="password" class="form-control" name="newpassword1" placeholder="New Password">
                </div>

                <div class="input-group mb-3">
                    <input type="password" class="form-control" name="newpassword2" placeholder="Confirm New Password">
                </div>

				<div class="mb-3 form-check">
					<input class="form-check-input" type="checkbox" name="participatescoreboard" id="checkboxParticipateScoreboard" {{if .ParticipateScoreboard}}checked{{end}}>
					<label class="form-check-label" for="checkboxParticipateScoreboard">Participate in scoreboard (this will display your username on the scoreboard)</label>
				</div>

				<hr/>

                <div class="input-group mb-3">
                    <input type="password" class="form-control" name="passwordconfirm" placeholder="Confirm Password To make Changes">
                </div>

                <div class="input-group">
                    <button type="submit" class="btn btn-primary mx-auto">Save</button>
                </div>

            </form>
        </div>
    </div>
</div>
{{end}}
